<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>GSheet Request</h1>
    <form action="/sheets" method="POST">
        <div>
            <label for="request">Request&nbsp;</label>
            <input type="text" id="request" name="request"/>
        </div>
        <div>
            <label for="name">Name&emsp;</label>
            <input type="text" id="name" name="name"/>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>